<h2> Edit Article </h2>

<%= render 'form' %>

<h2><%= link_to "(delete article)", article_path(@article), method: :delete, data: { confirm: 'Are you sure?'} %></h2>
<%= link_to "Back to Articles", articles_path() %>
