/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* **************************************** */
/* ******** The Three Big Sections ******** */
.header{
  border: 2px solid pink;
}
.content{
  border: 2px solid black;
}
.footer{
  border: 2px solid lemonchiffon;
}
/* **************************************** */
/* **************************************** */

/* **************************************** */
/* ******** Article Sections ******** */
.articleSub{
  border: 2px solid green;
}
.articleForm{
  border: 2px solid yellow;
}
.articleAll{
  border: 2px solid magenta;
}
.articleDelete{
  border: 2px solid lightSkyBlue;
}
/* **************************************** */
/* **************************************** */

/* **************************************** */
/* ******** Comment Sections ******** */
.commentSub{
  border: 2px solid blue;
}
.commentForm{
  border: 2px solid red;
}
.commentWrapper{
  border: 2px solid purple;
}
.commentAll{
  border: 2px solid orange;
}
/* **************************************** */
/* **************************************** */
.contentTitle{
  border: 2px solid darksalmon;
}
.contentEndLinks{
  border: 2px solid lime;
}
